body{
    margin: 0 auto;
    width: 95%;
    min-width: 175px;
    text-align: center;
    background-color: rgb(233, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: visible;
}

h2{
    color: black;
}

strong{
    color: red;
    font-size: 110%;
}